$font-stack: 'Roboto', sans-serif;
$primary-color: #333333;
$main-font-size: 24;
$secondary-font-size: $main-font-size * 0.5;

.main-app-class {
  * {
    font: 100% $font-stack;
    color: $primary-color;
    font-weight: 400;
    font-size: $secondary-font-size + px;
  }

  h1 {
    color: $primary-color;
    font-size: $main-font-size + px;
  }

  .alert {
    transition: opacity linear 0.3s;

    &.ng-hide {
      opacity: 0;
    }
  }
}
