<div class="container">
  <h1>{{'addBook.title' | translate}}</h1>
  <form name="bookForm">
    <div class="form-group">
      <label>Tytuł</label>
      <input name="tytul" class="form-control" ng-model="tytul" required>
    </div>
    <div class="form-group">
      <label>Autor</label>
      <input name="autor" class="form-control" ng-model="autor" required>
    </div>
    <div class="form-group">
      <label>Cena</label>
      <input name="cena" class="form-control" ng-model="cena" valid-price>
    </div>
    <div class="form-group">
      <button maxlength="64" ng-click="zapiszKsiazke()" type="button" class="btn btn-primary">Zapisz</button>
      <button maxlength="64" ng-minLength="3" ng-click="zresetujPola()" type="button" class="btn btn-secondary">Wyszyść</button>
      <button maxlength="5" ng-click="wyczyscListe()"type="button" class="btn btn-danger">Skasuj całą listę</button>
    </div>
    <div ng-animate class="alert alert-danger" ng-show="bookForm.tytul.$error.required">
      <strong>Błąd!</strong> Pole książka jest wymagane
    </div>
    <div ng-animate class="alert alert-danger" ng-show="bookForm.tytul.$error.required">
      <strong>Błąd!</strong> Pole tytuł jest wymagane
    </div>

    <div ng-animate class="alert alert-danger" ng-show="bookForm.cena.$error.validPrice">
      <strong>Błąd!</strong> cena jest błedna
    </div>
  </form>
  <p>Nasze książki:</p>
  <ul>
    <book-list-element
      ng-repeat="ksiazka in zapisaneKsiazki | orderBy: 'autor' | filter: nieTanie"
      ksiazka="ksiazka"
    >
    </book-list-element>
  </ul>
  <div class="confirm-modal" ng-show="isModalOpen">
    <div class="confirm-modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Potwierdź usunięcie</h5>
          <button type="button" ng-click="zamknijModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Czy na pewno usunąć całą listę</p>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="usunCalaListe()"class="btn btn-primary">tak usuń</button>
          <button type="button" ng-click="zamknijModal()"class="btn btn-secondary" data-dismiss="modal">anuluj</button>
        </div>
      </div>
  </div>
</div>
