.main-app-class * {
  font: 100% "Roboto", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 12px;
}
.main-app-class h1 {
  color: #333333;
  font-size: 24px;
}
.main-app-class .alert {
  transition: opacity linear 0.3s;
}
.main-app-class .alert.ng-hide {
  opacity: 0;
}

/*# sourceMappingURL=app.css.map */
