<!DOCTYPE html>
<html lang="en-US" ng-app="app">
<head>
  <link rel="stylesheet" type="text/css" href="./style/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <base href="/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="main-app-class">
  <nav class="navbar navbar-default" ng-controller="menuController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Angular sample pages</a>
      </div>
      <ul class="nav navbar-nav">
        <link-to ng-repeat="page in pages" link="page"></link-to>
      </ul>
      <ul class="flag-menu">
        <li class="flag pl" ng-click="changeLanguage('pl')">PL</li>
        <li class="flag en" ng-click="changeLanguage('en')">EN</li>
      </ul>
    </div>
  </nav>
  <div ng-view></div>
  <script src='node_modules/angular/angular.min.js'></script>
  <script src='node_modules/angular-mocks/angular-mocks.js'></script>
  <script src='node_modules/angular-route/angular-route.min.js'></script>
  <script src='node_modules/angular-animate/angular-animate.min.js'></script>
  <script src='node_modules/angular-touch/angular-touch.min.js'></script>
  <script src='node_modules/angular-translate/dist/angular-translate.min.js'></script>
  <script src='js/index.js'></script>
  <script src='js/factory/books.js'></script>
  <script src='js/routes.js'></script>
  <script src='js/translate.js'></script>
  <script src='js/directives/link.js'></script>
  <script src='js/directives/bookListElement.js'></script>
  <script src='js/directives/priceValidation.js'></script>
  <script src='js/controllers/addBookController.js'></script>
  <script src='js/controllers/menuController.js'></script>
  <script src='js/controllers/ajaxController.js'></script>
</body>
</html>
